Repository orlantquijada/vege2go, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, backend, web-app, packages

test disable merging
  .github/workflows/lint.yml
  README.md
Labels: ci, docs

added schema
  packages/db/src/schema.ts
Labels: packages

added changes from comments
  packages/db/src/schema.ts
Labels: packages

added timestampFields and Relations
  packages/db/src/schema.ts
Labels: packages

Fixed all errors with the DB
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
  packages/db/src/schema.ts
Labels: packages

Improve dev-production db parity
  docker-compose.yml
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/url.ts
  pnpm-lock.yaml
Labels: packages

Improve dev-production db parity
  docker-compose.yml
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/url.ts
  pnpm-lock.yaml
Labels: packages

Fix lint CI
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/backend/vercel.json
  apps/web-app/app/routes/home.tsx
  apps/web-app/package.json
  biome.json
  package.json
  packages/api/package.json
  packages/api/src/trpc.ts
  packages/db/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: ci, backend, web-app, packages

Fix lint CI
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/backend/vercel.json
  apps/web-app/app/routes/home.tsx
  apps/web-app/package.json
  biome.json
  package.json
  packages/api/package.json
  packages/api/src/trpc.ts
  packages/db/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: ci, backend, web-app, packages

fix labaler CI
  .github/workflows/labeler.yml
  sample.md
Labels: ci, docs

Clerk integration with trpc + fastify + react-router
  apps/backend/api/index.ts
  apps/backend/package.json
  apps/web-app/app/root.tsx
  apps/web-app/app/routes/home.tsx
  apps/web-app/app/utils/api.tsx
  apps/web-app/app/utils/server.ts
  apps/web-app/package.json
  packages/api/package.json
  packages/api/src/context.ts
  packages/api/src/index.ts
  packages/api/src/routers/post.ts
  packages/api/src/trpc.ts
  pnpm-lock.yaml
Labels: backend, web-app, packages

Initial auth
  apps/web-app/app/components/ui/input.tsx
  apps/web-app/app/components/ui/label.tsx
  apps/web-app/app/lib/utils/cn.ts
  apps/web-app/app/lib/utils/index.ts
  apps/web-app/app/routes/home.tsx
  apps/web-app/package.json
  packages/api/src/root.ts
  packages/api/src/routers/auth.ts
  packages/api/src/routers/post.ts
  packages/db/drizzle/0001_unique_mentor.sql
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Labels: web-app, packages

Migrate to zod
  apps/web-app/app/routes/home.tsx
  apps/web-app/package.json
  biome.json
  package.json
  packages/api/package.json
  packages/api/src/routers/post.ts
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/package.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: web-app, packages

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - apps/backend/**/*
web-app:
  - changed-files:
      - any-glob-to-any-file:
          - apps/web-app/**/*
packages:
  - changed-files:
      - any-glob-to-any-file:
          - packages/**/*
